<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Scratchblox Ban</title>
</head>

<body>
    <h1>Hello {{username}}</h1>
    <form method="POST">
        <div style="color: {{color}};">{{message}}</div>
        <label for="username">Username: </label>
        <input type="name" name="username" id="username">
        </br>
        <label for="reason">Reason: </label>
        <input type="text" name="reason" id="reason">
        </br>
        <button type="submit">Ban!</button>
    </form>
</body>
</html>